.navbarWrapper {
    display: flex;
    position: fixed;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    border: 1px solid white;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}

#logo {
    height: 50px;
}

#searchbar {

}

#login {

}

#signup {

}

#rightDropDown {

}