.cardBody {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 185px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5%;
    margin: 5px;
}

.innerText {
    margin-top: 45%;
    margin-bottom: 1%;
    align-self: flex-end;
}

#cardTitle {
    font-size: 20px;
    margin: 2% 2%;
    text-align: left;
    overflow-wrap: break-word;
}

#cardText {
    font-size: 12px;
    margin: 1% 1%;
    text-align: left;
    overflow: hidden;

}
