body {
    overflow: scroll;
    margin: 0;
    background-color: rgb(231, 244, 252); /* this hex code is the closest I could get to reddit grey */
}

#trendingToday {
    position: absolute;
    top: 7%;
    justify-content: center;
}

.newsCards {
    display: flex;
    flex-direction: row;
}

#popPosts {
    position: absolute;
    top: 40%
}

