* {
    font-family: sans-serif;
}

body {
    overflow: scroll;
    margin: 0;
    background-color: rgb(231, 244, 252); /* this hex code is the closest I could get to reddit grey */
}

.topOfPage {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-right: 5%;
    margin-left: 5%;
}

#trendingToday {
   
}

.newsCards {
    display: flex;
    flex-direction: row; 
    min-width: 70%;
}

#popPosts {
   
}

.miniNavWrapper {
    
    width: 85%;
}



.App {
    margin-top: 40px;
}


