* {
    font-family: sans-serif;
}

body {
    overflow: scroll;
    background-color: rgb(231, 244, 252); /* this hex code is the closest I could get to reddit grey */
}

.topOfPage {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 6%;
}

#trendingToday {
    margin-bottom: 0px;
}

.newsCards {
    display: flex;
    flex-direction: row; 
    min-width: 70%;
}

#popPosts {
 margin-left: 1%;
}

.miniNavWrapper {
    margin-left: 1%;
    width: 80%;
}



.App {
    margin-top: 20px;
}


